<button {{action "create"}}>Create</button>

<ul>
  {{#each model as |project|}}
    <li>{{project.name}} ({{project.id}})
      <ul>
        {{project.user.name}} ({{project.user.id}})
      </ul>
    </li>
  {{/each}}
</ul>
